* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("./assets/white\ marble\ background.jpg");
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

form {
    background-color: whitesmoke;
    padding: 20px;
}

#contactme {
    padding: 0px 0px 0px 10px; 
}

#email {
    padding: 0px 0px 0px 10px;
    font-size: smaller;
}

#phonenumber {
    padding: 0px 0px 0px 5px;
    font-size: smaller;
}
/* PROFILE */

.card-body {
box-shadow: 0 0 20px 7px rgba(44, 42, 42, 0.904);
}

.card {
    margin: 20px 10px;
}

.card-body a {
    color: rgb(84, 111, 230);
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 575;
}
