/* #mypic {
    padding: 0px 25px 25px 0px;
} */


body {
    background-image: url("./assets/white\ marble\ background.jpg");
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

form {
    background-color: whitesmoke;
    padding: 20px;
}

#contactme {
    padding: 0px 0px 0px 10px;
    /* font-size: smaller; */
}

#email {
    padding: 0px 0px 0px 10px;
    /* font-size: smaller; */
}

#phonenumber {
    padding: 0px 0px 0px 5px;
    /* font-size: smaller; */
}